Format: 1.0
Source: libapache2-mod-headers2
Version: 1.0.0-1
Binary: libapache2-mod-headers2
Maintainer: Sorin Manolache <sorinm@gmail.com>
Architecture: any
Standards-Version: 3.7.2
Build-Depends: debhelper (>= 5), autotools-dev, autoconf, automake, libtool, libaprutil1-dev, libapr1-dev, apache2-threaded-dev (>= 2.2.9)
Files: 
